.pagination{
    position:absolute;
    right:14px;
}
.box-shadow{
    /* background-color: #eed; */
    box-shadow:  0 0 8px  #2f56d4b4;
    -moz-box-shadow: 0 0 8px  #2f56d4b4;
    -webkit-box-shadow: 0 0 8px  #2f56d4b4;
    -o-box-shadow: 0 0 8px  #2f56d486;
}
#mobileOtp{
    display: none;
}
#emailOtp{
    display: none;
}
#checkEmail{
    display: none;
}
#errorPaymentType{
    display: none;
}

/* INVOICE STYLING ========================================== */
.totalAmount{
    padding-top: 6px;
    width:335px;
    height:80px;
    margin-top:20px;
    background-color:#84C529;
    color:white;
    text-align: center;
    font-weight: bold;
}
.totalAmount span{
    font-size: 15px;;
}

.logo-container{
    text-align: center;
    border-bottom: 1px solid gray;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;  
}
.customer-detatil{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 15px;
    padding-bottom: 8px;
}
#table, #th, #td{
    border:1px solid black;
    border-collapse: collapse;
}

.support {
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow:  0 0 8px  #2f56d4b4;
    -moz-box-shadow: 0 0 8px  #2f56d4b4;
    -webkit-box-shadow: 0 0 8px  #2f56d4b4;
    -o-box-shadow: 0 0 8px  #2f56d486;
    transition: .5s;
}
.support:hover {
    margin-top: -5px;
    
}

.dropzone {
    border: 1px solid lightgray;
    border-radius: 5px;
    /* border-style: dotted; */
    cursor: pointer;
    min-height:55px;
}

.dropzone:hover {
    border: 1px solid gray;
}

.support span{
    font-size: 35px;  
}

.support .icon-text{
    font-size: 20px; 
    position: relative;
    top: -5px; 
}

.wrap-element {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.wrapped-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  
  /* Hide all steps by default: */
  .stepper {
    display: none;
  }
  
  .button {
    background-color: #242942;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left:5px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #242942;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #242942;
  }


  .side-sticky-bar {
      position: fixed;
      left:0;
      background: url('../../../assets/images/profileback.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .side-sticky-bar:before{
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      right:0;
      left:0;
      bottom:0;
      background-color: rgba(229, 230, 231, 0.719);
  }

  .sticky-field{
      position: absolute;
      right:0;
  }


.video-sticky {
    position: fixed;
    left:0;
}

.video-menu-scroll{
    position: absolute;
    right:0;
}
.p-5 {
    padding: 1.5rem !important;
}
  @media (max-width: 700px){
    .side-sticky-bar {
        position: relative;
    }
  
    .sticky-field{
        position: relative;
    }

    .video-sticky {
        position: relative;
    }
    
    .video-menu-scroll{
        position: relative;
    }
  }


   